version: "3.9"

services:

  n8n:
    build: .
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - ./data/n8n:/home/node/.n8n
      - ./data/documents:/home/node/.n8n-files/documents
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_HOST=0.0.0.0
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://13.49.41.195:5678/
    depends_on:
      - qdrant
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis
    restart: always

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    restart: always